h1{color:black;font-family: 'Times New Roman';font-weight: 400;}
h2{color: blue;font-family: 'Times New Roman';}
h3{color: brown;font-family:'Times New Roman';}
p{color:magenta;background-color: rgb(215, 189, 215);font-family: Arial;}
li{background-color: aqua;color: black;width:10%}